@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

/*------------------------------------*\
  #container
\*------------------------------------*/

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/*------------------------------------*\
  #header
\*------------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

/*------------------------------------*\
  #heading
\*------------------------------------*/

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

/*------------------------------------*\
  #form
\*------------------------------------*/

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

/*------------------------------------*\
  #buttons
\*------------------------------------*/

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.btn-back {
  width: 150px;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-primary:focus {
  color: #fff;
  background-color: #000;
  border: none;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: #007bff;
}

/*------------------------------------*\
  #status button
\*------------------------------------*/

.status {
  padding: 5px 10px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-paid {
  background-color: steelblue;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.status-unpaid {
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
}

/*------------------------------------*\
  #spinner
\*------------------------------------*/

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

/*------------------------------------*\
  #invoice-UI
\*------------------------------------*/

.invoice-UI {
  width: 700px;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: #333;
  padding: 40px;
}

.invoice-item {
  border-bottom: 1px solid black;
}

.header-UI {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header-left img {
  height: 50px;
}

.header-right p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.invoice-info-UI {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.info-left h3,
.info-right h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.info-left p,
.info-right p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
}

th,
td {
  border: 1px solid #333;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}

.invisible {
  display: none;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

.total {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}

.footer {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}
